<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<link href="../View/assets/style.css" rel="stylesheet">
<link href="../View/assets/reset.css">
<div id="f">
    <div id="first">
        <div id="inner"><h3 style="color: maroon">БАЗА  И  ДЕЙНОСТИ

        </h3></div>
        <h3 id="firstpar">

            Фирмата е сертифицирана по международен стандарт ISO 9001:2008 , с цел....

        </h3>
        <a class="home" id="footerBtn1">Виж още...</a>
        <!--    <button class="home" id="myBtn">Виж още...</button>-->

        <!-- The Modal -->
        <div id="myBtn1" class="modal">

            <!-- Modal content -->

            <div class="modal-content">
                <div class="modal-header">
                    <img height="100px" width="auto" src="http://www.italchamber.org.sg/uploads/fe/ab/8146/hq_vimar01_S_Pc.jpg">
                    <span class="close">&times;</span>
                </div>
                <div class="modal-body">
                    <p><i>Клиентските карти за отстъпка дават следните предимства:<br>1. Всички сервизни услуги за ремонтиране на автомобила са с отстъпки от тези, които са по ценова листа, т.е. крайните клиентски.<br>
                        2. Всеки автомобил към клиентска карта се въвежда в базата данни на информационната система и при всяко посещение се зареждат автоматично търговските условия.<br>
                        3. Възможност за справка и сервизна книжка за историята на извършените ремонти и сервизни услуги на автомобила от софтуера.<br>
                        4. Клиентската карта може да бъде преотстъпвана и преотдавана на други лица за множество автомобили.</i></p>
                </div>
                <div class="modal-footer">
                    <h3><i>Притежателите на карта ползват намаление за сервизни услуги</i></h3>
                </div>
            </div>

        </div>
        <script src="../View/footer.js"></script>
        <!--    <script>-->
        <!--        // Get the mudal-->
        <!--        var mudal = document.getElementById('myBtn1');-->
        <!---->
        <!--        // Get the button that opens the modal-->
        <!--        var btn = document.getElementById("footerBtn1");-->
        <!---->
        <!--        // Get the <span> element that closes the modal-->
        <!--        var span = document.getElementsByClassName("close")[0];-->
        <!---->
        <!--        // When the user clicks the button, open the modal-->
        <!--        btn.onclick = function() {-->
        <!--            mudal.style.display = "block";-->
        <!--        }-->
        <!---->
        <!--        // When the user clicks on <span> (x), close the modal-->
        <!--        span.onclick = function() {-->
        <!--            mudal.style.display = "none";-->
        <!--        }-->
        <!---->
        <!--        // When the user clicks anywhere outside of the modal, close it-->
        <!--        window.onclick = function(event) {-->
        <!--            if (event.target == mudal) {-->
        <!--                mudal.style.display = "none";-->
        <!--            }-->
        <!--        }-->
        <!--    </script>-->

        <br>
    </div>
    <div>
        <div id="second">
            <div id="secondinner"><h3 style="color: maroon">ДОПЪЛНИТЕЛНИ  ДЕЙНОСТИ</h3></div>
            <h3 id="secondpar">

                Продажба на гуми, пътна помощ, хотел за гуми, ресторант, монтаж на авто електронни аксесоари....

            </h3>
            <a class="home" id="footerBtn2">Виж още...</a>
            <div id="myBtn2" class="modal">
                <div class="modal-content">
                    <div class="modal-header">
                        <img height="100px" width="auto" src="http://www.italchamber.org.sg/uploads/fe/ab/8146/hq_vimar01_S_Pc.jpg">
                        <span class="close">&times;</span>
                    </div>
                    <div class="modal-body">
                        <p><i>Клиентските карти за отстъпка дават следните предимства:<br>1. Всички сервизни услуги за ремонтиране на автомобила са с отстъпки от тези, които са по ценова листа, т.е. крайните клиентски.<br>
                            2. Всеки автомобил към клиентска карта се въвежда в базата данни на информационната система и при всяко посещение се зареждат автоматично търговските условия.<br>
                            3. Възможност за справка и сервизна книжка за историята на извършените ремонти и сервизни услуги на автомобила от софтуера.<br>
                            4. Клиентската карта може да бъде преотстъпвана и преотдавана на други лица за множество автомобили.</i></p>
                    </div>
                    <div class="modal-footer">
                        <h3><i>Притежателите на карта ползват намаление за сервизни услуги</i></h3>
                    </div>
                </div>

            </div>
            <script src="../View/footer.js"></script>
            <!--    <script>-->
            <!--        // // Get the mudal-->
            <!--        // var mudal2 = document.getElementById('myBtn2');-->
            <!--        //-->
            <!--        // // Get the button that opens the modal-->
            <!--        // var btn = document.getElementById("footerBtn2");-->
            <!--        //-->
            <!--        // // Get the <span> element that closes the modal-->
            <!--        // var span = document.getElementsByClassName("close")[1];-->
            <!--        //-->
            <!--        // // When the user clicks the button, open the modal-->
            <!--        // btn.onclick = function() {-->
            <!--        //     mudal2.style.display = "block";-->
            <!--        // }-->
            <!--        //-->
            <!--        // // When the user clicks on <span> (x), close the modal-->
            <!--        // span.onclick = function() {-->
            <!--        //     mudal2.style.display = "none";-->
            <!--        // }-->
            <!--        //-->
            <!--        // // When the user clicks anywhere outside of the modal, close it-->
            <!--        // window.onclick = function(event) {-->
            <!--        //     if (event.target == mudal2) {-->
            <!--        //         mudal2.style.display = "none";-->
            <!--        //     }-->
            <!--        // }-->
            <!--    </script>-->

            <br>
        </div>
        <div id="third">
            <div id="thirdinner"><h3 style="color:maroon ">СЕМЕЕН СЕРВИЗ</h3></div>
            <h3 id="thirdpar">

                Ние от сервиз Vi&Mar знаем какво е натоварването на клиентите ни и ценим тяхното....

            </h3>
            <a class="home" id="footerBtn3">Виж още...</a>
            <div id="myBtn3" class="modal">
                <div class="modal-content">
                    <div class="modal-header">
                        <img height="100px" width="auto" src="http://www.italchamber.org.sg/uploads/fe/ab/8146/hq_vimar01_S_Pc.jpg">
                        <span class="close">&times;</span>
                    </div>
                    <div class="modal-body">
                        <p><i>Клиентските карти за отстъпка дават следните предимства:<br>1. Всички сервизни услуги за ремонтиране на автомобила са с отстъпки от тези, които са по ценова листа, т.е. крайните клиентски.<br>
                            2. Всеки автомобил към клиентска карта се въвежда в базата данни на информационната система и при всяко посещение се зареждат автоматично търговските условия.<br>
                            3. Възможност за справка и сервизна книжка за историята на извършените ремонти и сервизни услуги на автомобила от софтуера.<br>
                            4. Клиентската карта може да бъде преотстъпвана и преотдавана на други лица за множество автомобили.</i></p>
                    </div>
                    <div class="modal-footer">
                        <h3><i>Притежателите на карта ползват намаление за сервизни услуги</i></h3>
                    </div>
                </div>

            </div>
            <script src="../View/footer.js"></script>
            <!--    <script>-->
            <!--        // // Get the mudal-->
            <!--        // var mudal3 = document.getElementById('myBtn3');-->
            <!--        //-->
            <!--        // // Get the button that opens the modal-->
            <!--        // var btn = document.getElementById("footerBtn3");-->
            <!--        //-->
            <!--        // // Get the <span> element that closes the modal-->
            <!--        // var span = document.getElementsByClassName("close")[2];-->
            <!--        //-->
            <!--        // // When the user clicks the button, open the modal-->
            <!--        // btn.onclick = function() {-->
            <!--        //     mudal3.style.display = "block";-->
            <!--        // }-->
            <!--        //-->
            <!--        // // When the user clicks on <span> (x), close the modal-->
            <!--        // span.onclick = function() {-->
            <!--        //     mudal3.style.display = "none";-->
            <!--        // }-->
            <!--        //-->
            <!--        // // When the user clicks anywhere outside of the modal, close it-->
            <!--        // window.onclick = function(event) {-->
            <!--        //     if (event.target == mudal3) {-->
            <!--        //         mudal3.style.display = "none";-->
            <!--        //     }-->
            <!--        // }-->
            <!--    </script>-->
            <br>
        </div>
    </div>
    <div id="authorized">
        <h1>Made by Martina Dimitrova & Victoria Drandarova</h1>
    </div>
</body>
</html>