<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<link href="../View/assets/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<article class="article">
    <ul>
        <li><a class="active">СЕРВИЗНА ДЕЙНОСТ</a></li>
        <li id="myBtn"><a  class="cmenu">ОТСТЪПКИ</a></li>
        <li id="secondBtn"><a  class="cmenu">ХОДОВА ЧАСТ</a></li>
        <li id="thirdBtn"><a class="cmenu">СКОРОСТНИ КУТИИ</a></li>
        <li id="fourBtn"><a class="cmenu">ДВИГАТЕЛИ</a></li>
        <li id="five"><a class="cmenu">АВТО ЕЛЕКТРО УСЛУГИ</a></li>
        <li id="six"><a class="cmenu">ОКАЧВАНЕ</a></li>
        <li id="seven"><a class="cmenu">ПЪТНА ПОМОЩ</a></li>
    </ul>
</article>
<div id="imgh">
    <img height="280px" width="auto" src="https://images.videoclip.bg/Img/Thumbs/642665_2_360.jpeg">
    <img height="280px" width="auto" src="http://m.sibir.bg/uploads_bg/img/0059980/img_59980_1887249_l.jpg">
</div>
</div>
</body>
</html>