<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../View/assets/style.css" rel="stylesheet">
    <link href="../View/assets/reset.css">
</head>
<body>
<section>
    <div class="register">
        <fieldset style="color: goldenrod">
            <legend><h2>Вход</h2></legend>
            <table>
                <form action="../Controller/loginController.php" method="post">
                    <link href="assets/style.css" rel="stylesheet">
                    <TD style="color: goldenrod">Email : </TD>  <TD><input type="email" size="33" name="email" ></TD>
                    </TR>
                    <TR>
                        <TD style="color: goldenrod">Парола : </TD><TD><input type="password" size="33" name="password" ></TD>
                    </TR>
                    <TD COLSPAN="2" class="or"> <input type="submit" name="login" value="Вход"></TD>

                </form>
            </table>
        </fieldset>
        <br>
        <br>
    </div><br>
    <div class="regyet">
        <a href="register.html"  class="or">Все още нямам регистрация</a>
    </div>



</section>

</body>
</html>