<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
Invalid credentials. Please try again.
<form action="../Controller/loginController.php" method="post">
    Username<input type="text" name="email"><br>
    Password<input type="password" name="password"><br>
    <input type="submit" name="login">
</form>
</body>
</html>
</body>
</html>