<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../View/assets/style.css" rel="stylesheet">
    <link href="../View/assets/reset.css">
</head>
<body>
<article class="article">
<ul>
<li><a class="active" style="text-align: center" href="#home">СЕРВИЗНА ДЕЙНОСТ</a></li>
<li><a href="#news" style="color:goldenrod">ХОДОВА ЧАСТ</a></li>
<li><a href="#contact"style="color:goldenrod">ОКАЧВАНЕ</a></li>
<li><a href="#about"style="color:goldenrod">СКОРОСТНИ КУТИИ</a></li>
<li><a href="#news"style="color:goldenrod">ДВИГАТЕЛИ</a></li>
<li><a href="#contact"style="color:goldenrod">АВТО ЕЛЕКТРО УСЛУГИ</a></li>
<li><a href="#about"style="color:goldenrod">АВТОКЛИМАТИЦИ</a></li>
<li><a href="#about"style="color:goldenrod">ПЪТНА ПОМОЩ</a></li>
</ul>
</article>
<div id="imgh">
    <img height="280px" width="auto" src="https://images.videoclip.bg/Img/Thumbs/642665_2_360.jpeg">
    <img height="280px" width="auto" src="http://m.sibir.bg/uploads_bg/img/0059980/img_59980_1887249_l.jpg">
</div>
</body>
</html>


<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>Title</title>-->
    <!--<link href="../View/assets/style.css" rel="stylesheet">-->
    <!--<link href="../View/assets/reset.css">-->

<!--</head>-->
<!--<body>-->
<!--<article class="article">-->
    <!--<ul>-->
        <!--<li><a class="active">СЕРВИЗНА ДЕЙНОСТ</a></li>-->
        <!--<li id="myBtn"><a  class="cmenu">ОТСТЪПКИ</a></li>-->
        <!--<li id="secondBtn"><a  class="cmenu">ХОДОВА ЧАСТ</a></li>-->
        <!--<li id="thirdBtn"><a class="cmenu">СКОРОСТНИ КУТИИ</a></li>-->
        <!--<li id="fourBtn"><a class="cmenu">ДВИГАТЕЛИ</a></li>-->
        <!--<li id="five"><a class="cmenu">АВТО ЕЛЕКТРО УСЛУГИ</a></li>-->
        <!--<li id="six"><a class="cmenu">ОКАЧВАНЕ</a></li>-->
        <!--<li id="seven"><a class="cmenu">ПЪТНА ПОМОЩ</a></li>-->
    <!--</ul>-->

    <!--<div id="myModal" class="modal">-->

        <!--&lt;!&ndash; Modal content &ndash;&gt;-->

        <!--<div class="modal-content">-->
            <!--<div class="modal-header">-->
                <!--<img height="100px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQeE&#45;&#45;dwFYKBCY2MO1_tBrkb5kIh5iKk0xjX-kH6cQXzXrepFyQ">-->

                <!--<span class="close">&times;</span>-->
            <!--</div>-->
            <!--<div class="modal-body">-->
                <!--<p><i>Клиентските карти за отстъпка дават следните предимства:<br>1. Всички сервизни услуги за ремонтиране на автомобила са с отстъпки от тези, които са по ценова листа, т.е. крайните клиентски.<br>-->
                    <!--2. Всеки автомобил към клиентска карта се въвежда в базата данни на информационната система и при всяко посещение се зареждат автоматично търговските условия.<br>-->
                    <!--3. Възможност за справка и сервизна книжка за историята на извършените ремонти и сервизни услуги на автомобила от софтуера.<br>-->
                    <!--4. Клиентската карта може да бъде преотстъпвана и преотдавана на други лица за множество автомобили.</i></p>-->
            <!--</div>-->
            <!--<div class="modal-footer">-->
                <!--<h3><i>Притежателите на карта ползват намаление за сервизни услуги</i></h3>-->
            <!--</div>-->
        <!--</div>-->

    <!--</div>-->
<!--</article>-->
<!--<article>-->
    <!--<script src="../View/menuservices.js"></script>-->

    <!--<div id="myModal2" class="modal">-->

        <!--&lt;!&ndash; Modal content &ndash;&gt;-->

        <!--<div class="modal-content">-->
            <!--<div class="modal-header">-->
                <!--<img height="100px" width="auto" src="http://www.italchamber.org.sg/uploads/fe/ab/8146/hq_vimar01_S_Pc.jpg">-->
                <!--<span class="close">&times;</span>-->
            <!--</div>-->
            <!--<div class="modal-body">-->
                <!--<p><i> Прегледа на ходовата част, включва проверка за техническа неизправност и луфтове на носачи, шарнири, тампони и втулки по окачването, тампони на преден / заден мост. Луфтове и хлопане опорите, биалетите и стабилизиращата щанга. Проверява се за шумове от скоростната кутия и диференциала или лагерите на главините.</i></p>-->
            <!--</div>-->
            <!--<div class="modal-footer" >-->
                <!--<div>-->
                    <!--<img width="500px" src="http://www.vplus3.com/images/slide-04.jpg">-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

    <!--</div>-->
<!--</article>-->
<!--<article>-->
    <!--<script src="../View/menuservices.js"></script>-->
<!--</article>-->
<!--<div id="myModal3" class="modal">-->

    <!--&lt;!&ndash; Modal content &ndash;&gt;-->

    <!--<div class="modal-content">-->
        <!--<div class="modal-header">-->
            <!--<img height="100px" width="auto" src="http://www.italchamber.org.sg/uploads/fe/ab/8146/hq_vimar01_S_Pc.jpg">-->
            <!--<span class="close">&times;</span>-->
        <!--</div>-->
        <!--<div class="modal-body">-->
            <!--<p><i>Ремонта на скоростна кутия е изключително комплициран ремонт и изисква предарителен демонтаж на кутията. Ремонта на скоростната кутия се извършва, като външна услуга от фирми за ремонт на скоростни кутии с гаранция за извършената услуга. Цената на ремонта на скоростна кутия зависи от вложените части, труд за обслужване и демонтажа и монтажа на кутията. При отваряне на скоростната кутия се извършва оглед и оценка на необходимите части за ремонта и рециклирането, като лагери, синхронизатори, валове, и др. За ремонта на кутията се влагат нови части от официалния вносител на съответната марка или втора употреба от разкомплектовани скоростни кутии налични във фирмата извършваща ремонта.</i></p>-->
        <!--</div>-->
        <!--<div class="modal-footer">-->
            <!--<img src="http://emk-service.com/uploads/service/original/22fa9a541bc0c394e10498c9bc32cbbc7a1721bf.jpg">-->
        <!--</div>-->
    <!--</div>-->

<!--</div>-->
<!--</article>-->
<!--<article>-->
    <!--<script src="../View/menuservices.js"></script>-->
    <!--<script >-->
        <!--var modal3 = document.getElementById('myModal3');-->

        <!--// Get the button that opens the modal-->
        <!--var btn = document.getElementById("thirdBtn");-->

        <!--// Get the <span> element that closes the modal-->
        <!--var span = document.getElementsByClassName("close")[5];-->

        <!--// When the user clicks the button, open the modal-->
        <!--btn.onclick = function() {-->
            <!--modal3.style.display = "block";-->
        <!--}-->

        <!--// When the user clicks on <span> (x), close the modal-->
        <!--span.onclick = function() {-->
            <!--modal3.style.display = "none";-->
        <!--}-->

        <!--// When the user clicks anywhere outside of the modal, close it-->
        <!--window.onclick = function(event) {-->
            <!--if (event.target == modal3) {-->
                <!--modal3.style.display = "none";-->
            <!--}-->
        <!--}-->
    <!--</script>-->

    <!--<div id="myModal4" class="modal">-->

        <!--&lt;!&ndash; Modal content &ndash;&gt;-->

        <!--<div class="modal-content">-->
            <!--<div class="modal-header">-->
                <!--<img height="100px" width="auto" src="http://www.italchamber.org.sg/uploads/fe/ab/8146/hq_vimar01_S_Pc.jpg">-->
                <!--<span class="close">&times;</span>-->
            <!--</div>-->
            <!--<div class="modal-body">-->
                <!--<p><i>Основният ремонт на двигателя включва: на пълното му разглобяване, преглед, замерване със специални инструменти на луфтове и хлабини, подмяната на износени компоненти и обратното сглобяване с прецизна точност. До основен ремонт на двигателя може да се стигне не само поради износването му от дългия пробег. Основен ремонт се налага да бъде извършен когато двигателят е бел прегрял, останал без масло или поради скъсан ангренажен ремък.</i></p>-->
            <!--</div>-->
            <!--<div class="modal-footer">-->
                <!--<img  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSJ4V05FjSFY6Kq7aTW9OEHX860flM4kALCP5awsqyTOapMvloA">-->
            <!--</div>-->
        <!--</div>-->

    <!--</div>-->
<!--</article>-->
<!--<article>-->

    <!--<script >-->
        <!--var modal4 = document.getElementById('myModal4');-->

        <!--// Get the button that opens the modal-->
        <!--var btn = document.getElementById("fourBtn");-->

        <!--// Get the <span> element that closes the modal-->
        <!--var span = document.getElementsByClassName("close")[6];-->

        <!--// When the user clicks the button, open the modal-->
        <!--btn.onclick = function() {-->
            <!--modal4.style.display = "block";-->
        <!--}-->

        <!--// When the user clicks on <span> (x), close the modal-->
        <!--span.onclick = function() {-->
            <!--modal4.style.display = "none";-->
        <!--}-->

        <!--// When the user clicks anywhere outside of the modal, close it-->
        <!--window.onclick = function(event) {-->
            <!--if (event.target == modal4) {-->
                <!--modal4.style.display = "none";-->
            <!--}-->
        <!--}-->
    <!--</script>-->

    <!--<div id="myModal5" class="modal">-->

        <!--&lt;!&ndash; Modal content &ndash;&gt;-->

        <!--<div class="modal-content">-->
            <!--<div class="modal-header">-->
                <!--<img height="100px" width="auto" src="http://www.italchamber.org.sg/uploads/fe/ab/8146/hq_vimar01_S_Pc.jpg">-->
                <!--<span class="close">&times;</span>-->
            <!--</div>-->
            <!--<div class="modal-body">-->
                <!--<p><i>Ремонт на стартери,алтернатори.Ремонт светлини /фарове,габарити, мигачи,стопове/ Ремонт по инсталации. Монтаж на алармени системи.Монтаж на халогени,ксенонови системи, дневни светлини.</i></p>-->
            <!--</div>-->
            <!--<div class="modal-footer">-->
                <!--<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQR1HDhj0zERwgPpBkodJh3h_e3qwLXRYzWbAQ2Rug3l4W1-OoeaA">-->
            <!--</div>-->
        <!--</div>-->

    <!--</div>-->
<!--</article>-->
<!--<article>-->
    <!--<script src="../View/menuservices.js"></script>-->
    <!--<script >-->
        <!--var modal5 = document.getElementById('myModal5');-->

        <!--// Get the button that opens the modal-->
        <!--var btn = document.getElementById("five");-->

        <!--// Get the <span> element that closes the modal-->
        <!--var span = document.getElementsByClassName("close")[7];-->

        <!--// When the user clicks the button, open the modal-->
        <!--btn.onclick = function() {-->
            <!--modal5.style.display = "block";-->
        <!--}-->

        <!--// When the user clicks on <span> (x), close the modal-->
        <!--span.onclick = function() {-->
            <!--modal5.style.display = "none";-->
        <!--}-->

        <!--// When the user clicks anywhere outside of the modal, close it-->
        <!--window.onclick = function(event) {-->
            <!--if (event.target == modal5) {-->
                <!--modal5.style.display = "none";-->
            <!--}-->
        <!--}-->
    <!--</script>-->
    <!--<div id="myModal6" class="modal">-->

        <!--&lt;!&ndash; Modal content &ndash;&gt;-->

        <!--<div class="modal-content">-->
            <!--<div class="modal-header">-->
                <!--<img height="100px" width="auto" src="http://www.italchamber.org.sg/uploads/fe/ab/8146/hq_vimar01_S_Pc.jpg">-->
                <!--<span class="close">&times;</span>-->
            <!--</div>-->
            <!--<div class="modal-body">-->
                <!--<p><i>Окачването е отговорно за правилната позиция на колелата. Окачването осигурява комфорт при шофиране, като обира вибрациите предизвикани от пътя. Също така се грижи за Вашата безопасност като осигурява сцепление на пътя. Поради тези причини трябва да проверявате техническото състояние на окачването и да отстранявате всички повреди възможно най-скоро след констатирането им, като замените всички повредени части.</i></p>-->
            <!--</div>-->
            <!--<div class="modal-footer">-->
            <!--</div>-->

            <!--<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSxZ1AwwH-4kvEiAbgfhcYr62kEq8QaTo2PyvvEWUQg_Bdfkfcq">-->
        <!--</div>-->

    <!--</div>-->
<!--</article>-->
<!--<article>-->
    <!--<script src="../View/menuservices.js"></script>-->
    <!--<script >-->
        <!--var modal6 = document.getElementById('myModal6');-->

        <!--// Get the button that opens the modal-->
        <!--var btn = document.getElementById("six");-->

        <!--// Get the <span> element that closes the modal-->
        <!--var span = document.getElementsByClassName("close")[8];-->

        <!--// When the user clicks the button, open the modal-->
        <!--btn.onclick = function() {-->
            <!--modal6.style.display = "block";-->
        <!--}-->

        <!--// When the user clicks on <span> (x), close the modal-->
        <!--span.onclick = function() {-->
            <!--modal6.style.display = "none";-->
        <!--}-->

        <!--// When the user clicks anywhere outside of the modal, close it-->
        <!--window.onclick = function(event) {-->
            <!--if (event.target == modal6) {-->
                <!--modal6.style.display = "none";-->
            <!--}-->
        <!--}-->
    <!--</script>-->
    <!--<div id="myModal7" class="modal">-->

        <!--&lt;!&ndash; Modal content &ndash;&gt;-->

        <!--<div class="modal-content">-->
            <!--<div class="modal-header">-->
                <!--<img height="100px" width="auto" src="http://www.italchamber.org.sg/uploads/fe/ab/8146/hq_vimar01_S_Pc.jpg">-->
                <!--<span class="close">&times;</span>-->
            <!--</div>-->
            <!--<div class="modal-body">-->
                <!--<p><i>Пътна помощ предлага експресно отзоваване до 15-та минута от вашето обаждане в съботно-неделни дни в района на център и около 30 минути за делнични дни в ненатоварените часове. Ние знаем колко е скъпо вашето време и гледаме да сме максимално бързи. Стремим се да сме максимално отзивчиви спрямо всеки един наш клиент. Наши приоритети са да помагаме на хората в нужда и да сме в полза на обществото. Предлагаме, освен репатриране на повредени и ударени мпс следните услуги: вадене от канавки с мощна лебедка 12 000 либри, която има възможност да издърпа до 6 тона превозно средство, предлагаме и подаване на ток с наши 5 метрови усилени кабели за по-бързо зареждане на изтощения ви акумулатор.</i></p>-->
                <!--<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ7znLrQe0bRq5wIX0uF1-P3w0UXJ_Egh2qoR40QEu0FfBUa_e1PA">-->
            <!--</div>-->
            <!--<div class="modal-footer">-->

            <!--</div>-->
            <!--<i>В случай, че се нуждаете от пътна помощ можете да се обаждате 24/7 на телефони:<br>-->
                <!--0889898898 - Виктория<br>-->
                <!--0967568754 - Мартина<br>-->
            <!--</i>-->
        <!--</div>-->

    <!--</div>-->
<!--</article>-->
<!--<article>-->
    <!--<script src="../View/menuservices.js"></script>-->
    <!--<script >-->
        <!--var modal7 = document.getElementById('myModal7');-->

        <!--// Get the button that opens the modal-->
        <!--var btn = document.getElementById("seven");-->

        <!--// Get the <span> element that closes the modal-->
        <!--var span = document.getElementsByClassName("close")[9];-->

        <!--// When the user clicks the button, open the modal-->
        <!--btn.onclick = function() {-->
            <!--modal7.style.display = "block";-->
        <!--}-->

        <!--// When the user clicks on <span> (x), close the modal-->
        <!--span.onclick = function() {-->
            <!--modal7.style.display = "none";-->
        <!--}-->

        <!--// When the user clicks anywhere outside of the modal, close it-->
        <!--window.onclick = function(event) {-->
            <!--if (event.target == modal7) {-->
                <!--modal7.style.display = "none";-->
            <!--}-->
        <!--}-->
    <!--</script>-->
    <!--<div id="imgh">-->
        <!--<img height="280px" width="auto" src="https://images.videoclip.bg/Img/Thumbs/642665_2_360.jpeg">-->
        <!--<img height="280px" width="auto" src="http://m.sibir.bg/uploads_bg/img/0059980/img_59980_1887249_l.jpg">-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
<!--</article>-->
<!--</body>-->