<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="./assets/style.css" rel="stylesheet" type="text/css">
    <link href="../View/assets/reset.css">
</head>
<body>
<nav id="head">
    <!--<link href="./assets/style.css" rel="stylesheet" type="text/css">-->
    <!--<link href="../View/assets/reset.css">-->
    <a href="../Controller/indexController.php?page=winter" class="or navbutton">ЗИМНИ ГУМИ</a>
    <a href="../Controller/indexController.php?page=summer" class="or navbutton">ЛЕТНИ ГУМИ</a>
    <a href="../Controller/indexController.php?page=brands" class="or navbutton">МАРКА ГУМИ</a>
    <a href="../Controller/indexController.php?page=contact" class="or navbutton">ПИШЕТЕ НИ</a>
    <a href="../Controller/indexController.php?page=profile" class="or navbutton">ПРОФИЛ</a>
    <a href="../Controller/indexController.php?page=logout" class="or navbutton">ИЗХОД</a>
</nav>

</body>

</html>