<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../View/assets/style.css" rel="stylesheet" type="text/css">
    <link href="../View/assets/reset.css">
</head>
<body>

<nav id="head">
    <a class="or navbutton" href="../Controller/indexController.php?page=winter">ЗИМНИ ГУМИ</a>
    <a class="or navbutton" href="../Controller/indexController.php?page=summer">ЛЕТНИ ГУМИ</a>
    <a class="or navbutton " href="../Controller/indexController.php?page=brands">МАРКА ГУМИ</a>
    <a class="or navbutton" href="../Controller/indexController.php?page=contact">ПИШЕТЕ НИ</a>
    <a class="or navbutton" href="../Controller/indexController.php?page=login">  Вход  </a>
    <a class="or navbutton" href="../Controller/indexController.php?page=register">Регистрация</a>

</nav>

</body>
</html>